/* Media queries */
@mixin media-md {
	@media screen and (min-width: $breakpoint-md) {
		@content;
	}
}

@mixin media-lg {
	@media screen and (min-width: $breakpoint-lg) {
		@content;
	}
}

@mixin media-xl {
	@media screen and (min-width: $breakpoint-xl) {
		@content;
	}
}

/* Buttons & Dropdowns */
@mixin primary {
	background-color: $blue;
	color: $white;
}

@mixin secondary {
	background-color: $light-blue;
	color: $white;
}

@mixin outline {
	border: 2px solid $blue;
	background-color: $white;
	color: $blue;
}

@mixin disabled {
	background-color: $grey;
	color: $black;
}

@mixin light {
	background-color: $white;
	color: $black;
}

@mixin dark {
	background-color: $black;
	color: $white;
}