@import '../../styles/config.scss';

article {
    flex: 1;
    max-width: 100%;
}

.preview {
    position: relative;
    width: 600px;
    max-width: 100%;
    font-size: 6px;
    background-color: #000000;

    @include media-md {
        font-size: 10px;
    }

    .image {
        width: 600px;
        max-width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .text {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 280px;
        z-index: 1;
        text-align: center;
        color: #000000;
        font-weight: 600;
        font-size: 5em;
        font-family: 'Arial';
        word-break: break-all;

        &:nth-child(3) {
            top: auto;
            bottom: 20px;
        }

        @include media-md {
            max-width: 500px;
        }
    }
}